<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}"></link>
<title>Register</title>
</head>
<body>
	<h1>Register</h1>
	<form method="POST" th:action="@{/spitter/register}" th:object="${spitter}">
		<label th:class="${#fields.hasErrors('firstname')}? 'error'">First Name:</label>
		<input type="text" th:field="*{firstname}" value="${spitter.firstname}" th:class="${#fields.hasErrors('firstname')}? 'error'"/>
		<label th:if="${#fields.hasErrors('firstname')}" th:class="error" th:errors="*{firstname}"></label>
		<br/>
		<label th:class="${#fields.hasErrors('lastname')}? 'error'">Last Name:</label>
		<input type="text" th:field="*{lastname}" value="${spitter.lastname}" th:class="${#fields.hasErrors('lastname')}? 'error'"/>
		<label th:if="${#fields.hasErrors('lastname')}" th:class="error" th:errors="*{lastname}"></label>
		<br/>
		<label th:class="${#fields.hasErrors('username')}? 'error'"> Username:</label>
		<input type="text" th:field="*{username}" value="${spitter.username}" th:class="${#fields.hasErrors('username')}? 'error'"/>
		<label th:if="${#fields.hasErrors('username')}" th:class="error" th:errors="*{username}"></label>
		<br/>
		<label th:class="${#fields.hasErrors('password')}? 'error'">Password:</label>
		<input type="password" th:field="*{password}" value="${spitter.password}" th:class="${#fields.hasErrors('password')}? 'error'"/>
		<label th:if="${#fields.hasErrors('password')}" th:class="error" th:errors="*{password}"></label>
		<br/>
		<input type="submit" value="Register" />
	</form>
</body>
</html>